body {
    display: flex;
    vertical-align: middle;
    background-color: black ;
    color: white;
    padding: 2em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timer{
    font-size: 30px;
    font-family: 'Noto Sans Runic', sans-serif;
}

@media screen and (max-width: 600px) {
    .timer{
    font-size: 20px;
    font-family: 'Noto Sans Runic', sans-serif;
}
}

.container-simbolo{
    
}

.simbolo{
    display: block;
    width: 35%;
}