@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Runic&display=swap');



html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: black ;
    color: white
}

.timer{
    font-size: 32px;
    font-family: 'Noto Sans Runic', sans-serif;
}